extends layout

block feet
  script(src='views/index.js')

block content
    .container
        div(style='margin-bottom: 20px;')
          .input-group#search-section
            span.input-group-btn
              button.btn.btn-default#btn-search(type='button')
                span.glyphicon.glyphicon-search
            input.form-control#search_tag(type='text')
        .row
            .col-lg-8
              #article-section
            .col-md-4
              .well
                #searchRslt-section
              .well
                h4 Blog Categories
                .row
                  .col-lg-6
                    ul.list-unstyled
                      li
                        a(href='#') Category Name
                      li
                        a(href='#') Category Name
                      li
                        a(href='#') Category Name
                      li
                        a(href='#') Category Name
                  .col-lg-6
                    ul.list-unstyled
                      li
                        a(href='#') Category Name
                      li
                        a(href='#') Category Name
                      li
                        a(href='#') Category Name
                      li
                        a(href='#') Category Name
              .well
                h4 Side Widget Well
                p
                  | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
          .col-lg-8#post-section

    script(type='text/template', id='tmpl-article')
      div#actions(style='margin-top: 20px;')
        .btn-group
          button.btn.btn-primary.btn-sort Create Date
          button.btn.btn-primary.btn-format View by days ago
      <% _.each(articles, function(article) { %>
      .well(style='margin-top: 20px;')
        h1 <%= article.subject %>
        p.lead
          | by
          | &nbsp;<%= article._author.name %>
        p
          span.glyphicon.glyphicon-time
          | Posted on 
          span.post-date <%= article.createTiming %>
        img.img-responsive(src='http://placehold.it/900x300', alt='')
        p.lead
          | <%= article.content %>
      <% }); %>

    script(type='text/template', id='tmpl-results')
      h4 Your Searching Result
      <% _.each(articles, function(article) { %>
      .well
        h5 <%= article.subject %>
        | by <%= article._author.name %>
        p
          span.glyphicon.glyphicon-time
          | Posted on <%= article.createTiming %>
      <% }); %>

    script(type='text/template', id='tmpl-post')
      form.form-horizontal
        h3 Leave a Message
        .form-group(class!='<%= errfor.subject ? "has-error" : "" %>')
          label.control-label(for='subject') Subject
          input.form-control#subject(name='subject', type='text')
          label.has-error.control-label.pull-right <%= errfor.subject %>
        .form-group(class!='<%= errfor.content ? "has-error" : "" %>')
          label.control-label(for='subject') Content
          textarea.form-control#content(name='content')
          label.has-error.control-label.pull-right <%= errfor.content %>
        .form-group
          button#btn-post-submit.btn.btn-primary(name='btn-post-submit') Post